body{
    margin: 0px;
}

.contenedor-flexible{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
}

.elemento-flexible{
    font-size: 5rem;
    color: white
}

.uno, .seis{
    background-color: lightblue;
    width: 250px;
    height: 250px;
    
}

.dos{
    background-color: lightcoral;
    width: 250px;
    height: 250px;
    
}

.tres, .siete{
    background-color: cyan;
    width: 250px;
    height: 250px;
    
}

.cuatro, .ocho{
    background-color: yellow;
    width: 250px;
    height: 250px;
    
}

.cinco{
    background-color: lightgreen;
    width: 250px;
    height: 250px;
    
}