body{
    margin: 0px;
}

.contenedor-flexible{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 700px;
    align-content: flex-start;
}

.elemento-flexible{
    font-size: 5rem;
    color: white
}

.uno, .seis{
    background-color: lightblue;
    /* width: 250px; */
    flex-basis: 250px;
    height: 250px;
    flex-grow: 1;
    flex-shrink: 1;
}

.dos{
    background-color: lightcoral;
    /* width: 250px; */
    flex-basis: 250px;
    height: 250px;
    flex-grow: 2;
    flex-shrink: 1;
    
}

.tres, .siete{
    background-color: cyan;
    /* width: 250px; */
    flex-basis: 250px;
    height: 250px;
    flex-grow: 1;
    flex-shrink: 1;
}

.cuatro, .ocho{
    background-color: yellow;
    /* width: 250px; */
    flex-basis: 250px;
    height: 250px;
    
}

.cinco{
    background-color: lightgreen;
    /* width: 250px; */
    flex-basis: 250px;
    height: 250px;
    
}